body {
    font-family: var(--font-text);
}
:root {
    --background-color-heading: rgba(46, 47, 66, 1);
    --background-color-footer: rgba(46, 47, 66, 1);
    --background-color-header: rgba(255, 255, 255, 1);
    --background-color-ourteam: rgba(244, 244, 253, 1);
    --border-color: rgba(231, 233, 252, 1);
    --font-text: 'Roboto', sans-serif;
    --font-logo: 'Raleway', serif;
    --color-logo: rgba(77, 90, 229, 1);
    --color-headings: rgba(46, 47, 66, 1);
    --color-text: rgba(67, 68, 85, 1);
    --color-h1: rgba(255, 255, 255, 1);
    --color-footer: rgba(244, 244, 253, 1);
    --color-overlay-text: rgba(244, 244, 253, 1);
    --background-color-overlay : rgba(77, 90, 229, 1);
    --transition-time: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --active-color: rgba(64, 75, 191, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    padding-top: 72px; 
    padding-bottom: 72px;

}

.container {
    max-width: 428px;
    margin: 0 auto;
    padding: 0 15px;
}


 /*Style dla headera*/

.menu-wrapper {
    min-height: 70px;
    display: flex;
    
}

.logo-style {
    font-family: var(--font-logo);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    color:var(--color-headings);
    display: flex;
    justify-content: flex-start;
    padding-top: 25.5px;
   
    }

    /* mobile menu */
.menu-button {
    min-height: 22px;
    min-width: 32px;
    display: flex;
    margin-left: 249px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: transparent;
    cursor: pointer;
    border:none ;
    outline: none;
    stroke: rgba(46, 47, 66, 1);
}

.mobile-menu {
    position: fixed;
    inset: 0;
    translate: -100% 0 0;
    transition: translate 400ms;
    background-color:rgba(255, 255, 255, 1);
}

.mobile-menu.is-open {
    translate: none;
}

.clo-button {
    position: absolute;
    inset: 1em 1em auto auto;
    background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        padding-bottom: 8px;
        fill: rgba(46, 47, 66, 1);
        top: 24px;
            right: 24px;
            width: 24px;
            height: 24px;
}


.menu-js-wrapper {
    margin-top: 80px;
    margin-left: 40px;
}
.menu-js {
    list-style-type: none;
}
.links-js {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-decoration: none;

}
.list-elements {
    margin-bottom: 40px;
}

.mobile-links-contact {
    list-style-type: none;
    margin-top: 244px;
    

}

.tel-link {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.72px;
        text-decoration: none;
        color:var(--color-logo);
}

.mail-link {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        text-decoration: none;
        color: var(--color-text)
}
.sm-list-mobile {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 56px;
    margin-top: 48px;
    
}

.mobile-icon-wrapper {
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.mobile-icon {
    margin: 12px;
    width: 16px;
    height: 16px;
}
/* mobile menu end */


.logo-web{
    color: var(--color-logo);
}
.menu-links{
    list-style-type: none; 
    display: none;
}
.menu-links .links-style {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        color: var(--color-headings);
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
    }

.menu-links .links-style:hover, .menu-links .links-style:focus {
    color: var(--active-color);

}
.menu-links .links-style:active {
    color: var(--active-color);
}
.tab-active {
    position: relative; 
    display: flex;
    color: var(--active-color);
 }

.tab-active::after {
    content: "";
    position: absolute;
    background: var(--active-color);
    width: 100%; 
    height: 4px;
    top: 44px;
    border-radius: 2px;
 } 

.list-links-contact{
        list-style-type: none;
        display: none;
}
.links-contact {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        text-decoration: none;
        color: var(--color-text);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
.list-links-contact .links-contact:hover,.list-links-contact .links-contact:focus {
    color: var(--active-color);
}
.list-links-contact .links-contact:active {
    color: var(--active-color);
}


/*Style dla zakładki studio*/

.main-heading {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 1.12px;
        padding-top: 112px;
        padding-bottom: 72px;
}


.section-main-heading {
    color: var(--color-h1);
    background-color: var(--background-color-heading);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-position: center;
    background-size: cover;
    min-height: 432px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-main-heading {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office@2x.jpg);
    }
}

.order-service {
    background-color:rgba(77, 90, 229, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-style: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service:hover {
    background-color: var(--active-color);
}

/*modal start*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 400ms;
}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584px;
    background-color: rgba(252, 252, 252, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-button {
    position: absolute;
    top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        padding-bottom: 8px;
        fill: rgba(46, 47, 66, 1);
        transition-property: background-color , fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover {
    background-color: var(--active-color);
    fill: rgba(255, 255, 255, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms;
}

.form-heading {
    color: rgba(46, 47, 66, 1);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        margin-top: 72px;
        margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    width: 360px;
    justify-content: center;
    align-items: flex-start;
    margin: auto 24px;
}

.label-text-style {
    color: rgba(142, 143, 153, 1);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.48px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.input-style, .textarea-style {
    width: 360px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.input-style:hover,.textarea-style:hover {
    border: 1px solid var(--active-color);

}

.input-style {
    min-height: 40px;
    
}

.textarea-style {
    min-height: 120px;
    color: rgba(46, 47, 66, 1);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.16;
        letter-spacing: 0.48px;
        padding-top: 8px;
        padding-left: 16px;
}
 .form-icon-wrapper {
    width: 100%;
     position: relative;
     margin-bottom: 8px;
 }

 .form-icon {
     position: absolute;
     top: 55%;
     left: 16px;
     translate: 0 -50% 0;
    
 }

 .form-icon-wrapper input {
     width: 100%;
     padding-block: 11px;
     padding-inline-start: 16px ;
    padding-left: 38px;
 }

 .form-icon-wrapper:focus-within .form-icon {
     color: var(--active-color);
 }

 .form-icon-wrapper input:focus {
     outline: none;
     border: 1px solid var(--active-color);
 }


.form-icon-wrapper:hover,
.form-icon:hover {
    fill: var(--active-color);
}


.checkbox-wrapper {
margin-top: 16px;
}
.link-form {
    padding-left: 3px;
}

/*svg checkbox start*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.svg-check {
    display: inline-flex;
    width:16px;
    height:16px;
    border-radius: 2px;
    margin-right: 8px;
    fill: var(--active-color);
    transition-property: background-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.checkbox-input:checked + .label-text-style span {
    background-color: var(--active-color);
    fill: rgba(244, 244, 253, 1);
    border: none;

}
/*checkbox svg end*/

.form-button {
    background-color: rgba(77, 90, 229, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    min-width: 169px;
    border-style: none;
    transition-property: background-color; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover , .form-button:focus {
    background-color: var(--active-color);
}
/*modal end*/

.section-main-pillars {
    
}
.main-pillars-list {
    list-style-type: none;
    gap: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.main-pillars {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        color: var(--color-headings);
        margin-bottom: 8px;
        width: 396px;
        display: flex;
        justify-content: center;
}

.pillar-icon-wrapper {
        display: none;
}
.description {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        color:var(--color-text);
        margin-top: 0px;
        width: 396px;
        
}

.header-two {
    color: var(--color-headings);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        margin-top: 0px;
        margin-bottom: 72px;
}

.section-solutions {
    display: none;
}
.solutions-list {
    list-style-type: none;
    display: none;
}
.solution-header {
    display: none;
}

/* SEKCJA TEAM */
.section-team {
    background-color: var(--background-color-ourteam);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team-list {
    list-style-type: none;
background-color: var(--background-color-ourteam);
display: flex;
flex-direction: column;
gap: 72px;
}

.team-style {
    background-color: var(--background-color-header);
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
}

.team-descrip-wrapper  {
    padding-bottom: 32px;
    padding-top: 32px;
}
    
.team-names {
    color: var(--color-headings);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        background-color: var(--background-color-header);
        }

.team-position {
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        color: var(--color-text);
        background-color: var(--background-color-header);
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-bottom: 8px;
        padding-top: 8px;
}

.sm-list-team {
   list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
}

.team-icon-wrapper {
    background-color: rgba(77, 90, 229, 1);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
    margin: 12px;
        width: 16px;
        height: 16px;
}
.team-icon-wrapper:hover {
    background-color: rgba(64, 75, 191, 1);
}
.customers-list {
    list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 16px;
        flex-basis: calc((100% - 72px) / 2);
}
.customers-icon {
    fill: #8e8f99;
    width: 190px;
    height: 88px;
    flex-shrink: 0;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon-link:hover {
    color: rgba(64, 75, 191, 1);
}
.customers-icon:hover {
    fill: currentColor;
    border-color: rgba(64, 75, 191, 1);
}

/*Style dla stopki*/

.footer-style {
    background-color: var(--background-color-footer);
    min-height: 664px;

}

.footer-text {
    color: var(--color-footer);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 0px;

}

.sm-text {
    color: var(--color-footer);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 0px;
    font-weight: 500;
}

.logo-footer {
    font-family: var(--font-logo);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-footer);
    margin-bottom: 17.5px;
    margin-top: 97.5px;
}

.logo-wrapper-footer {
    max-width: 264px;
    margin-bottom: 72px;

}



.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
}

.logo-wrapper-footer>a {
    display: flex;
    justify-content: center;
        align-items: center;
        
    
}
.footer-wrapper>p {
    display: flex;
    flex-direction: column;
    justify-content: center;
        align-items: center;
}

.sm-wrapper {
    max-width: 264px;

}

.sm-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 16px;
}
.sm-text {
    display: flex;
        justify-content: center;
        align-items: center;

}
.footer-sm-wrapper {
    background-color: rgba(77, 90, 229, 1);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transition-property: background-color ;
        transition-duration: 250ms ;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-icon {
    margin: 8px;
    width: 24px;
    height: 24px;
}

.footer-sm-wrapper:hover {
   background-color:  rgba(49, 208, 170, 1);
}


.footer-form-wrapper {
    margin-top: 72px;
}
.sub-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
        align-items: center;
    margin-top: 16px;
}
.subscribe-text {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;    
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
}

.input-style-ft {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--background-color-footer);
    min-height: 40px;
    min-width: 398px;
    padding-left: 16px;
    color:rgba(255, 255, 255, 1) ;
transition-property: border ;
        transition-duration: 250ms ;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-style-ft::placeholder {
    color: rgba(255, 255, 255, 1);
}
.input-style-ft:hover, .input-style-ft:focus {
    border: 1px solid var(--active-color);
}
.subscribe-button {
    position: relative;
        /* Button Text */
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
        /*button-style*/
        padding-left: 24px;
        padding-top: 8px;
        display: flex;
        flex-direction: row;
    background-color: rgba(77, 90, 229, 1);
    border-radius: 4px;
    cursor: pointer;
    min-width: 165px;
    min-height: 40px;
    border-style: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}


.subscribe-button:hover , .subscribe-button:focus {
    background-color: var(--active-color);
}
.button-wrap {
    position: relative;
    margin-top: 16px;
}
.subscribe-icon {
    position: absolute;
    top: 50%;
    right: 24px;
    translate: 0 -50% 0;
}

@media screen and (min-width: 480px) {
    .container {
        max-width: 480px;
    }
}
/* TABLET */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .menu-wrapper {
            min-height: 70px;
            display: flex;
    
        }
    
    .mobile-menu, .menu-button {
          display: none;
        }
    .logo-style {
        padding-top: 0;
    }
    .logo-web {
            color: var(--color-logo);
        }
    
    .menu-links {
            display: flex;
        }
    
    .list-links-contact {
            display: flex;
            flex-direction: column;
        }
    .links-contact {
        font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.48px;
    }
       
    .menu-wrapper {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(231, 233, 252, 1);
                    align-items: center;
                }
    .menu-wrapper>nav {
                    display: flex;
                    gap: 76px;
                    align-items: center;
        
                }
    .menu-wrapper>nav>menu {
                    display: flex;
                    gap: 40px
                }
    .menu-wrapper>ul {
                    display: flex;
                    gap: 12px;
                }
    .menu-wrapper>menu>ul {
                    gap: 332px;
        
                }
.main-heading {
              font-size: 56px;
              line-height: 1.07;
              padding-top: 0;
              padding-bottom: 36px;
          }
    
    
          .section-main-heading {
              min-height: 436px;
             
          }

.main-pillars-list {
                      list-style-type: none;
                      display: flex;
                      flex-wrap: wrap;
                      row-gap: 72px ;
                      column-gap: 24px ;
                    flex-basis: calc((100% - 72px) / 2);
                  }
        
    
        .main-pillars {
             width: 356px;
             display: flex;
            
        }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;}
    }